:root{
  --container-height:50%;
}

body{
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.big-pic{
  height: 345px;
  border: 1px solid black;
  position: relative;
}
.big-pic>img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.eyes{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
 .eyes>img{
  width: calc(var(--container-height)/25);
}
.eye{
  position: absolute;
}
.b-one{
  top: 50.9px;
  left: 274.5px;

}
.b-two{
  top: 61.9px;
  left: 334.5px;
}
.po-one{
  top: 95.1px;
  left: 437.2px;

}
.po-two{
  top: 89.3px;
  left: 496px;
}
.pa-one{
  left: 70.5px;
  top: 76px;
}
.pa-two {
  left: 129px;
  top: 75.6px;
} 
form{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 1rem;
  min-width: 603.4px;
  padding: 1rem 0;
  align-items: center;

  
}
input{
  padding: 0.3rem 3rem ;
  letter-spacing: 8px;
  font-size: 1.5rem;
  
}
span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 90%;
}