*,*::after,*::before{
  box-sizing: border-box;
}
body{
  background-color: #333;
  display: flex;
  justify-content: center;
}
nav{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
img{
  width: 200px;
  position: absolute;
  opacity: 0;
  transform: translate(-50%,-50%) scale(0.5);
  transition: opacity 250ms,transform 250ms;
  z-index: -2;
  pointer-events: none;
}
a{
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.61);
  text-decoration: none; 
  position: relative;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.221);
  transition: all 0.5s;

  width: auto;
}
a:hover{
  color: white;
  font-size: 4.5rem;

}
span{
  display: block;
}
nav>a:hover>img{
  transform: translate(-50%,-50%)scale(1);
  opacity: 1;
}