*,*::after,*::before{
  box-sizing: border-box;
}
body{
  background-color: #333;
  display: flex;
  justify-content: center;
}
nav{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
img{
  width: 200px;
  position: absolute;
  opacity: 0;
  transform: translate(-50%,-50%) scale(0.5);
  transition: opacity 250ms,transform 250ms;
  z-index: -2;
  pointer-events: none;
}
a{
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.61);
  text-decoration: none; 
  position: relative;

  transition: all 0.5s;


}
a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2rem;
  left: 0;
  transition: all 500ms;
  background-color:rgba(255, 255, 255, 0.61) ;
  pointer-events: none;
}
a:hover,a:hover::after{
  color: white;
  font-size: 4.5rem;
  bottom: -.5rem;
}
span{
  display: block;
}
nav>a:hover>img{
  transform: translate(-50%,-50%)scale(1);
  opacity: 1;
}